<mat-card>
    <h2 class="center">USER MANAGEMENT</h2><br>
    <p>User management describes the ability for administrators to manage user access to various IT resources like systems, devices, applications, storage systems, networks, SaaS services, and more. User management is a core part to any directory service and is a basic security essential for any organization</p>
    <p>Effective user management can help organisations ensure that they are maintaining their user based license compliancy, and helps with the transparency of user-based licenses. It is important to ensure that user based licenses, like Office 365 or Adobe Creative Cloud, are used effectively and to their full potential.</p>
    <p>One of the most important admin functions within Percipio is managing your user community. You can add users to Percipio individually or via a batch upload. As an admin, you can:</p>
    <p>In this user management application you need to click on the tab userlist and access the list as below:-</p>
    1) Click User List to see List of all User.<br>
    2) You can also add User by Add User Button.<br>
    3) Used LocalStorage in Application.<br>
</mat-card>
